body{
     background-color: rgb(57, 90, 170);
     background: linear-gradient(90deg,#0078b9,#80379b);
     
}

.logo {
    margin-left: auto;
    margin-right: auto;
}
img {
    width :400px;
    height: 138px;
    
}

h2{
    color:white;
    font-family:inherit;
    font-size:24px;
    font-weight:bold;
}

.sign-in-box{
    background:gray;
    text-align:center;
}
